<div class="accordian-container">
    <div *ngFor="let item of accordianHorizontalInput;" class="accordian-item" [ngClass]="item.isExpanded ? 'expanded' : ''">
      <div class="accordian-header">
        <div class="toggle-btn" (click)="toggleAccordian(item)">
          <span *ngIf="!item.isExpanded" class="expand">+</span>
          <span *ngIf="item.isExpanded" class="collapse">-</span>
        </div>
        <div class="accordian-title">{{item.name}}</div>
        <div class="content-cards-count">{{item.id}}</div>
      </div>
      <div class="accordian-content">
        <div class="card" *ngFor="let widget of item.cardList;">{{widget.brandName}}</div>
      </div>
    </div>
  </div>