// Page layout styles 
.page-layout {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    .left-side-panel {
        background-color: #fff;
        width: 80px;
        z-index: 1;
        box-shadow: 2px 3px 6px rgb(0 0 0 / 14%);
    }

    .right-side-panel {
        background-color: #f8f8f8;
        padding: 40px 30px;
        width: calc(100% - 80px);
        .page-header-actions{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 13px;
            .breadcrumb{
                a{
                    font-size: 16px;
                    color: #676767;
                    i{
                        margin-right: 12px;
                    }
                }
            }
            .toolbar{
                display: flex;
                align-items: center;
                i{
                    color: #34373F;
                    font-size: 18px;
                    margin: 0 10px;
                }
            }
        }
        .page-header{
            margin-bottom: 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .page-title{
                font-size: 24px;
                color: #34373F;
                font-weight: bold;
            }
            .page-actions{
                a{
                    margin: 0 26px;
                }
                select{
                    background: transparent;
                    border: 0;
                    cursor: pointer;
                    font-size: 16px;
                }
            }
        }
        .content-search-container{
            display: flex;
            align-items: center;
            
            
        }
        .page-content{
            margin-top: 30px;
        }
    }
}

// Multi select style
ng-multiselect-dropdown{
    width: 40%;
    margin-right: 30px;
    
}
.multiselect-dropdown {
    .dropdown-btn {
        background: #FFFFFF;
        border: 0.8px solid #34373F;
        border-radius: 4px;
        padding: 6px 33px;
        .selected-item-container {
            .selected-item {
                border: 1px solid #EDF2F4!important;
                background: #EDF2F4!important;
                color: #2D2D2D!important;
                border-radius: 4px!important;
                padding: 2px 4px 2px 8px!important;
                margin-bottom: 0;
                a{
                    color: #ABABAB!important;
                }
            }
        }
    }
}


// Horizonatal tab styles
.horizontal-tab {
    .horizontal-tab-header {
        border-bottom: 1px solid #b1b1b1;
        ul {
            li {
                list-style: none;
                display: inline-block;
                padding: 5px 20px;
                cursor: pointer;
                &.selected {
                    color: red;
                    position: relative;
                    &::after{
                        position: absolute;
                        content: "";
                        height: 3px;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color: red;
                    }
                }
            }
        }
    }

    .horizontal-tab-content {
        padding: 30px 0;
    }
}

// Card component
.card {
    .card-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .card-title {
            font-size: 20px;
            font-weight: bold;
            color: #34373F;
        }

        .card-action {
            font-size: 14px;
            display: flex;
            .select-container{
                display: flex;
                align-items: center;
                margin-left: 20px;
            }
        }
    }

    .card-content {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 2px 3px 6px rgb(0 0 0 / 14%);
        padding: 35px;
    }
}