<div class="page-layout">
    <div class="left-side-panel">
        <div class="navigation-menu"></div> <!-- Call the navigation component -->
    </div>
    <div class="right-side-panel">
        <div class="page-header-actions">
            <div class="breadcrumb"><a href=""><i class="fa fa-arrow-left"></i>Back</a></div>
            <div class="toolbar">
                <i class="fa fa-bookmark-o"></i>
                <i class="fa fa-bell-o"></i>
                <i class="fa fa-exclamation-circle"></i>
            </div> 
        </div>
        <div class="page-header">
            <div class="page-title">Manufacturing</div>
            <div class="page-actions">
                <a href="" class="text-link">Back to Default</a>
                <select>
                    <option default>Timeframe</option>
                    <option>02</option>
                    <option>03</option>
                </select>
            </div>
        </div>
        <div class="content-search-container">
            <ng-container *ngIf="cardsFilterDropdownList?.length">
                <ng-multiselect-dropdown
                [placeholder]="'custom placeholder'"
                [settings]="cardsFilterDropdownSettings"
                [data]="cardsFilterDropdownList"
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="onItemDeselect($event)"
                [(ngModel)] = "selectedFilterCards"
                >
                
                </ng-multiselect-dropdown>
            </ng-container>
            
            <a href="javascript:;" class="text-link" (click)="reset()">Clear all</a>
        </div>
        <div class="page-content">
            <div class="horizontal-tab">
                <div class="horizontal-tab-header">
                    <ul>
                        <li class="selected">Batch Details</li>
                        <li>Analytics</li>
                        <li>Performance</li>
                    </ul>
                </div>
                <div class="horizontal-tab-content">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Kanban Board</div>
                            <div class="card-action">
                                <div class="select-container">
                                    <div class="select-title">Filter:</div>
                                    <select>
                                        <option default>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <div class="select-container">
                                    <div class="select-title">Batch:</div>
                                    <select>
                                        <option default>Progress(01)</option>
                                        <option>Progress(01)</option>
                                        <option>Progress(02)</option>
                                    </select>
                                </div>
                                <div class="select-container">
                                    <div class="select-title">Sort:</div>
                                    <select>
                                        <option default>Date created</option>
                                        <option>Sort by name</option>
                                        <option>Sort by role</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <app-accordion-vertical [accordianVerticalInput]="accordianVerticalData"></app-accordion-vertical>
                            <app-accordion-horizontal [accordianHorizontalInput]="accordianHorizontalData"></app-accordion-horizontal>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>